#autocomplete_datalist.shown {
	display: initial !important;
}

#autocomplete_datalist.hidden {
	display: none !important;
}

#autocomplete_datalist > option {
	font-size: 1.5em;
	font-weight: lighter;
	cursor: pointer;
	overflow: hidden;
	padding: 2px;
	padding-left: 8px;
	margin-bottom: 2px;
}
#autocomplete_datalist > option:focus , #autocomplete_datalist > option:hover {
	margin-bottom: 0;
	background-color: rgba(255,255,255,.30);
	border-bottom: 2px solid white;
}
.settings-label{
	cursor: pointer;
}

#autocomplete_datalist > option.shadowed {
    background-color: rgba(255,255,255,.30);
}