#autocomplete_datalist.shown {
	display: initial !important;
}

#autocomplete_datalist.hidden {
	display: none !important;
}

#autocomplete_datalist > option {
	font-size: 1.5em;
	font-weight: lighter;
	cursor: pointer;
	overflow: hidden;
	padding: 2px;
	padding-left: 8px;
}

.settings-label{
	cursor: pointer;
}

#autocomplete_datalist > option.shadowed {
    background-color: rgba(255,255,255,.30);
}